<a href="/admin/categories/edit/<%= category_id %>">
    <button type="button" class="border border-solid border-green-700 rounded-md bg-green-700 hover:bg-green-600 hover:border-green-600 mt-2 w-15 p-2 text-white text-sm"><%= text_button %></button>
</a>