<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<body class="bg-gray-100">
 
</body>
<%- include ('partials/footer.ejs') %>
<script src="/scripts/menus_active.js"></script>
