<%- include ('../../partials/header.ejs') %>

<body class="bg-gray-100">
    <div class="container mx-auto py-8 mt-16 w-1/4">
        <div class="bg-white shadow-md rounded-lg overflow-hidden container">

            <div class="divide-y divide-gray-200 container">
                <form method="POST" action="/authenticate" class="grid space-y-5 p-16 shadow-2xl justify-center m-8 rounded-md" id="form">
                    <div class=" px-4 py-4 flex justify-center">
                        <h2 class="text-xl font-semibold text-gray-800">BEM VINDO!</h2>
                    </div>
                    <!-- <label for="">Email</label> -->
                    <div class="relative">
                        <input type="text" name="email" placeholder="Email" class="pl-10 pr-4 py-2 border rounded-md focus:outline-none focus:ring focus:ring-sky-100">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-solid fa-envelope" style="color: #c3c4c6;"></i>
                        </div>
                    </div>
                    <!-- Adicionei um id ao input de email para referenciar posteriormente -->
                    <div id="mensagem-erro-icon" style="display: none;" class="flex ml-2">
                        <i class="fa-solid fa-circle-exclamation" style="color: #f70202;"></i>
                        <label id="mensagem-erro-email-conta"  class="text-red-600 ml-3 text-sm"></label>
                    </div>
                    <!-- <label for="">Password</label> -->
                    <div class="relative">
                        <input type="password" name="password" class="pl-10 pr-4 py-2 border rounded-md focus:outline-none focus:ring focus:ring-sky-100" placeholder="Password">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-solid fa-lock" style="color: #c3c4c6;"></i>
                        </div>
                    </div>
                    <div id="mensagem-erro-icon-senha" style="display: none;" class="flex ml-2">
                        <i class="fa-solid fa-circle-exclamation" style="color: #f70202;"></i>
                        <label id="mensagem-erro-senha"  class="text-red-600 w-6/12 ml-3 text-sm"></label>
                    </div>
                    <div class="text-[0.70rem] flex justify-end font-semibold"><a href="" class="hover:text-sky-600 hover:underline">Esqueci minha senha.</a></div>
                    <button class="border border-solid border-sky-700 rounded-md bg-sky-700 hover:bg-sky-600 hover:border-sky-600 p-2 text-white" type="submit">ACESSAR</button>
                    <div id="buttonDiv"></div>
                    <div class="text-sm flex justify-center font-semibold">
                        <span class="mt-14">Não possui conta?<a href="" class="ml-1 hover:text-sky-600 hover:underline">Registre-se</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>
<script src="/scripts/menus_active.js"></script>
<script>
    document.getElementById('form').addEventListener('submit', function(event) {
        event.preventDefault();
        
        // Obter os valores dos campos de email e senha do formulário
        const email = document.querySelector('input[name="email"]').value;
        const password = document.querySelector('input[name="password"]').value;

        // Enviar uma requisição POST para o endpoint do servidor
        fetch('/authenticate', {
            method: 'POST',
            body: JSON.stringify({ email, password}),
            headers: { 'Content-Type': 'application/json' },
        })
        .then(response => response.json())
        .then(data => {
            if (data.error === 'Email não encontrado') {
                // Se houver um erro, exibir a mensagem de erro na tela
                const mensagemErro = document.getElementById('mensagem-erro-email-conta');
                mensagemErro.style.display = 'inline-block'; // Tornar o label visível
                mensagemErro.textContent = data.error; // Exibir a mensagem de erro
                //mostrar icone
                const iconeErro = document.getElementById('mensagem-erro-icon');
                iconeErro.style.display = 'inline-block'; // Tornar o label visível
            } else if(data.error === 'Senha incorreta') {
                // Se houver um erro, exibir a mensagem de erro na tela
                const mensagemErro = document.getElementById('mensagem-erro-senha');
                mensagemErro.style.display = 'inline-block'; // Tornar o label visível
                mensagemErro.textContent = data.error; // Exibir a mensagem de erro
                //mostrar icone
                const iconeErro = document.getElementById('mensagem-erro-icon-senha');
                iconeErro.style.display = 'inline-block'; // Tornar o label visível
            }else{
                alert('Usuário logado!');
            }
        })
        .catch(error => {
            console.error('Erro:', error);
        });
    });
</script>
<script src="https://accounts.google.com/gsi/client" async></script>
<script>
    function handleCredentialResponse(response) {
      console.log("Encoded JWT ID token: " + response.credential);
    }
    window.onload = function () {
      google.accounts.id.initialize({
        client_id: "294039685303-0bris1bi38g18ur655ugrtsps11kq6jn.apps.googleusercontent.com",
        callback: handleCredentialResponse
      });
      google.accounts.id.renderButton(
        document.getElementById("buttonDiv"),
        { theme: "outline", size: "large" }  // customization attributes
      );
      google.accounts.id.prompt(); // also display the One Tap dialog
    }
</script>
